img {
  width: 200px; /*
  */
  height: 150px; /*
  */
}
.header{
  display: flex;
  justify-content: space-evenly;
}
.logo{
  width: 50%;
}
#img-logo{
  width: 10%;
}
.links{
  display: flex;
}
ul{
  display: felx;
  list-style-type: none;
}
li{
  padding: 10px 25px;
}
button{
  background-color: blue;
  color: white;
  border: lpx solid black;
  border-radius: 6px;
  padding: 10px 30px;
}

.content{
  display: flex;
  padding: 15px 30px ;
  
}
button{
  font-size: 50px; ! important;
}
  font-size:50px;{
    
  }

ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
li {
  margin-right: 20px;
}
li a{
  text-decoration: none;
  color: #000;
}
li a:hover {
  color: #007bff;
}
.menu {
  /* Home*/
}
body {
  padding: 20px;
  background-color: #f2f2f2;
}
